{% extends 'users/dashboard_base.html' %}

{% block content %}
<h2>Parent Dashboard</h2>

<div class="card-container">
    <div class="card">
        <h3>Total Children</h3>
        <p style="font-size: 22px;">{{ total_children }}</p>
    </div>

    <div class="card">
        <h3>Total Courses</h3>
        <p style="font-size: 22px;">{{ total_courses }}</p>
    </div>

    <div class="card">
        <h3>Attendance Records</h3>
        <p style="font-size: 22px;">{{ total_attendance }}</p>
    </div>

    <div class="card">
        <h3>Announcements</h3>
        <p style="font-size: 22px;">{{ total_announcements }}</p>
    </div>
</div>
{% endblock %}
